@import "syntax-variables";

atom-text-editor {
  .indent-guide-improved {
    width: 1px;
    z-index: 100;
    position: absolute;
  }

  .indent-guide-improved.indent-guide-stack.indent-guide-active {
    width: 2px;
  }

  .color-guides(20);

  .color-guides(@total, @i:1) when (@i <= @total) {
    .indent-guide-improved:nth-child(@{total}n + @{i}) {

      @indent-col: rgb(mod(@i * 20 + 50, 150), mod(@i * 2 + 50, 150), mod(@i * 100 + 50, 150));
      background-color: @indent-col;

      &.indent-guide-stack.indent-guide-active {
        background-color: lighten(saturate(@indent-col, 50%), 20%);
      }
    }

    .color-guides(@total, (@i + 1));
  }
}
